div{
	margin: auto;
    width: 80%;
   
}
html, body {
	width: 100%;
    height: auto;
    background-size: 100% 100%;
    background:url("../images/cover1.jpg") no-repeat center center fixed;
}
body{
	background-color: #fff;
}
img{
	width: 100%;
}
.banner{
    height: 200px;
    width:100%;
    background-repeat: no-repeat;
}
h1{
	text-align: center;
    text-decoration: none;
}
.authorbutton{
	float: left;
	width: 170px;
    white-space: normal;
}
.bookbutton{
	float:right;
	width: 170px;
    white-space: normal;
}
.wrapper{
	top:200px;
	height: 80px;
}
.tablewrapper{
	height:100%;
    margin: auto;
}
.form-group{
	margin-top: 20px;
}
table th{
text-align: center;
}
.table{
	margin-top: 20px;
	text-align: center;
	background-color: #24292B;
	opacity: 0.9;
	color: white;
}
a{
	text-decoration: none !important;
}
